@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Phenomena';
    src: url('/fonts/Phenomena/Phenomena-Light.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Phenomena';
    src: url('/fonts/Phenomena/Phenomena-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Phenomena';
    src: url('/fonts/Phenomena/Phenomena-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

/*
 * make grid item span the whole available width
 * when it is the only one on the line
 */
@screen md {
    .grid *:last-child:nth-child(2n - 1) {
        grid-column: span 2;
    }
}

@screen xl {
    .grid *:last-child:nth-child(2n - 1) {
        grid-column: auto;
    }
}

a.text-decoration-fade {
    @apply transition-colors transition-bg bg-gradient-to-r duration-300 bg-no-repeat bg-left-bottom bg-0-2 hover:bg-full-2;
}

a.tag-decoration-fade {
    @apply transition-all bg-gradient-to-r duration-300 bg-no-repeat bg-left bg-0-full hover:bg-full;
}
