@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Phenomena';
    src: url('/fonts/Phenomena/Phenomena-Light.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Phenomena';
    src: url('/fonts/Phenomena/Phenomena-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Phenomena';
    src: url('/fonts/Phenomena/Phenomena-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@screen sm {
    .grid *:last-child:nth-child(2n - 1) {
        grid-column: span 2;
    }
}
